<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540369793089-2jrvbf0v5umsl2vgqlfth1m59fbc16n3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540369793089-2jrvbf0v5umsl2vgqlfth1m59fbc16n3</string>
	<key>API_KEY</key>
	<string>AIzaSyAyFvea6aILNCCLdfaPX9tHNCVTdPITtq8</string>
	<key>GCM_SENDER_ID</key>
	<string>540369793089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Satoshi-Ota.YoutubeApp1</string>
	<key>PROJECT_ID</key>
	<string>level-harbor-277304</string>
	<key>STORAGE_BUCKET</key>
	<string>level-harbor-277304.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540369793089:ios:0dde0460d09690c45056c0</string>
</dict>
</plist>